[Unit]
Description=Fast and extensible multi-platform HTTP/1-2-3 web server with automatic HTTPS
Requires=tailscaled.service
After=tailscaled.service

[Container]
ContainerName=caddy
Image=quay.io/fariszr/caddy-dns:cloudflare
Network=container:tailscaled
EnvironmentFile=.env
Volume=%h/caddy/conf:/etc/caddy:Z
Volume=%h/caddy/data:/data
Volume=%h/caddy/config:/config

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
