[Unit]
PartOf=caddy.service

[Container]
ContainerName=tailscaled
Image=docker.io/tailscale/tailscale:latest
EnvironmentFile=.env
Environment=TS_HOSTNAME=caddy
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:caddy
Environment=TS_TAILSCALED_EXTRA_ARGS=--state=mem:

[Service]
Restart=always
